<div>
  <div class="text-center">
    <p>Barêmes (dernière version):</p>
      <a
        href="https://fftwirl.fr/baremes-et-methodologie-2/"
        class="border p-2 px-4 rounded-2xl bg-yellow-300 text-zinc-800 shadow-md shadow-"
        >Barêmes</a
      >
    </div>
  </div>
  <div class="text-center">
    <p>Lexiques:</p>
   
      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 DEFINITIONS ELEMENTS SOUS LE BATON N1 N2 N3 DEFINITIF 19 OCT.pdf"
        class="border p-2 px-4 rounded-2xl bg-yellow-300 text-zinc-800 shadow-md shadow-"
        >Sous bâton</a
      >

   
      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 DEFINITIONS ENGAGEMENTS RATTRAPAGES N1 N2 N3 19 OCT.pdf"
        class="border p-2 px-4 rounded-2xl bg-yellow-300 text-zinc-800 shadow-md shadow-"
        >Engagements/rattrapages</a
      >


      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 ECHANGES DUO N3 N2 2023.pdf"
        class="border p-2 px-4 rounded-2xl bg-yellow-300 text-zinc-800 shadow-md shadow-"
        >Echanges duo</a
      >
  
      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 ECHANGES EQUIPES N3 N2.pdf"
        class="border p-2 px-4 rounded-2xl bg-yellow-300 text-zinc-800 shadow-md shadow-"
        >Echanges équipes</a
      >
 
      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 MANIEMENT GENERAL N1 N2 N3 DEFINITIF 19 OCT.pdf"
        class="border p-2 px-4 rounded-2xl bg-yellow-300 text-zinc-800 shadow-md shadow-"
        >Maniements</a
      >

      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 ROULERS N1 N2 N3 DEFINITIF 19 OCT.pdf"
        class="border p-2 px-4 rounded-2xl bg-yellow-300 text-zinc-800 shadow-md shadow-"
        >Roulers</a
      >


</div>
