<div class="text-center space-y-10 my-10">
  <div class="m-auto w-3/4">
    <p class="text-xl font-bold ">Barèmes (dernière version):</p>
    <div class="flex justify-evenly flex-wrap">
    <a
      href="https://fftwirl.fr/baremes-et-methodologie-2/"
      class="border border-zinc-800 p-2 px-4 my-10 rounded-2xl bg-yellow-100 text-zinc-800 shadow-[2px_1px_5px_0px_rgba(0,0,0,0.3)] shadow-yellow-100 hover:bg-yellow-300"
      >Barèmes</a
    ></div>
  </div>
  <div class="m-auto w-3/4">
    <p class="text-xl font-bold ">Lexiques:</p>
    <div class="flex justify-evenly flex-wrap">
      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 DEFINITIONS ELEMENTS SOUS LE BATON N1 N2 N3 DEFINITIF 19 OCT.pdf"
        class="border border-zinc-800 my-10 p-2 px-4 rounded-2xl bg-yellow-100 text-zinc-800 shadow-[2px_1px_5px_0px_rgba(0,0,0,0.3)] shadow-yellow-100 hover:bg-yellow-300"
        >Sous bâton</a
      >

      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 DEFINITIONS ENGAGEMENTS RATTRAPAGES N1 N2 N3 19 OCT.pdf"
        class="border border-zinc-800 my-10 p-2 px-4 rounded-2xl bg-yellow-100 text-zinc-800 shadow-[2px_1px_5px_0px_rgba(0,0,0,0.3)] shadow-yellow-100 hover:bg-yellow-300"
        >Engagements/rattrapages</a
      >

      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 ECHANGES DUO N3 N2 2023.pdf"
        class="border border-zinc-800 my-10 p-2 px-4 rounded-2xl bg-yellow-100 text-zinc-800 shadow-[2px_1px_5px_0px_rgba(0,0,0,0.3)] shadow-yellow-100 hover:bg-yellow-300"
        >Echanges duo</a
      >

      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 ECHANGES EQUIPES N3 N2.pdf"
        class="border border-zinc-800 my-10 p-2 px-4 rounded-2xl bg-yellow-100 text-zinc-800 shadow-[2px_1px_5px_0px_rgba(0,0,0,0.3)] shadow-yellow-100 hover:bg-yellow-300"
        >Echanges équipes</a
      >

      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 MANIEMENT GENERAL N1 N2 N3 DEFINITIF 19 OCT.pdf"
        class="border border-zinc-800 my-10 p-2 px-4 rounded-2xl bg-yellow-100 text-zinc-800 shadow-[2px_1px_5px_0px_rgba(0,0,0,0.3)] shadow-yellow-100 hover:bg-yellow-300"
        >Maniements</a
      >

      <a
        href="../../../../assets/documents/LEXIQUES/LEXIQUE FFTB 2022_2023 ROULERS N1 N2 N3 DEFINITIF 19 OCT.pdf"
        class="border border-zinc-800 my-10 p-2 px-4 rounded-2xl bg-yellow-100 text-zinc-800 shadow-[2px_1px_5px_0px_rgba(0,0,0,0.3)] shadow-yellow-100 hover:bg-yellow-300"
        >Roulers</a
      >
    </div>
  </div>
</div>
