<nav class="font-bold ">
    <ul class="flex justify-evenly items-center bg-yellow-300 text-gray-900 p-4">
        <li class="hover:bg-gradient-to-br hover:from-zinc-500 hover:to-gray-900 hover:text-yellow-300 p-2 px-4 rounded-2xl underline" [routerLink]="['calendar']">Calendrier</li>
        <li class="hover:bg-gradient-to-br hover:from-zinc-500 hover:to-gray-900 hover:text-yellow-300 p-2 px-4 rounded-2xl underline" [routerLink]="['baremes']">Barèmes</li>
        <li class="hover:bg-gradient-to-br hover:from-zinc-500 hover:to-gray-900 hover:text-yellow-300 p-2 px-4 rounded-2xl underline"[routerLink]="['results']">Résultats</li>
    </ul>
</nav>