<main>
  <h1 class="text-5xl text-red-600 p-4 text-center md:my-20 md:h-60">Contact</h1>
  <div class="relative text-center">
    <div class="">
      <div
        class="absolute top-2 left-1/2 rounded-full bg-yellow-300 w-56 h-56 blur-3xl opacity-70 animate-blob"
      ></div>
      <div
        class="absolute top-4 right-1/2 rounded-full bg-red-600 w-56 h-56 blur-3xl opacity-70 animate-blob animation-delay-2s"
      ></div>
      <div
        class="absolute -bottom-1 left-1/2 rounded-full bg-orange-500 w-56 h-56 blur-3xl opacity-70"
      ></div>
    </div>
    <div
      class="relative flex flex-col justify-center items-center m-auto space-y-4 backdrop-blur-sm bg-white/30 my-20 p-4 w-80 md:w-96 rounded-xl"
    >
      <div class="text-xl">
        <p>Une question ? Une réflexion ?</p>
        <p>Contactez-nous</p>
      </div>
      <!-- <div>
        <form
          action="https://formsubmit.co/8c59e5ae69a1177d265de21a9918ba51"
          method="POST"
          class="flex-col content-center justify-center items-center space-y-4 rounded-xl backdrop-blur-sm bg-white/20 p-5 text-gray-900 hidden"
        >
          <input
            type="email"
            name="email"
            placeholder="Votre e-mail"
            required
            class="rounded-xl p-1 w-full"
          />
          <textarea
            name="text"
            id=""
            class="p-2 rounded-xl w-full"
            rows="10"
            placeholder="Votre message..."
            required
          ></textarea>
          <button type="submit" class="rounded-xl bg-yellow-300 py-2 px-4">
            Envoyer
          </button>
        </form>
      </div> -->
      <div>
        <p class="text-xl hover:text-red-600">
          <a href="mailto:twirlingclubrieumois@gmail.com"
            >twirlingclubrieumois&#64;gmail.com</a
          >
        </p>
      </div>
    </div>
  </div>
</main>
