<main class="text-balance">
  <h1 class="text-5xl text-red-600 p-4 text-center md:my-20">
    Nos entraînements
  </h1>
  <div class="flex flex-col items-center m-auto text-center">
    <div
      class="h-full md:64 w-72 md:w-1/2 flex flex-col md:flex-row items-center my-10 border-2 rounded-xl border-red-600 bg-yellow-100 text-gray-900 overflow-hidden shadow-[5px_5px_10px_0px_rgba(0,0,0,0.3)] shadow-red-600"
    >
      <div class="h-full md:w-1/2">
        <img
          src="../../../assets/images/image.jpg"
          alt=""
          class="object-cover h-full"
        />
      </div>
      <div class="md:w-1/2 space-y-2">
        <h2 class="text-xl p-1 underline">Mardi</h2>
        <div class="">
          <p>17h45/19h00:</p>
          <p>Mini-twirl (4-6ans)</p>
        </div>
        <div class="">
          <p>17h45/19h45:</p>
          <p>Benjamine compétition (6-9ans)</p>
        </div>
      </div>
    </div>
    <div
      class="h-full md:h-64 w-72 md:w-1/2 flex flex-col md:flex-row-reverse items-center my-10 border-2 rounded-xl border-red-600 bg-yellow-100 text-gray-900 overflow-hidden shadow-[5px_5px_10px_0px_rgba(0,0,0,0.3)] shadow-red-600"
    >
      <div class="h-full md:w-1/2">
        <img
          src="../../../assets/images/IMG_0905.JPG"
          alt=""
          class="object-cover h-full w-full"
        />
      </div>
      <div class="w-1/2 space-y-2">
        <h2 class="text-xl p-1 underline">Mercredi</h2>
        <div class="">
          <p>16h30/18h30:</p>
          <p>Section loisir (tout âge)</p>
        </div>
        <div class="">
          <p>16h30/18h30:</p>
          <p>Benjamine/Minimes compétition (6-11ans)</p>
        </div>
        <div class="">
          <p>16h30/19h30:</p>
          <p>Cadette et+ compétition (+12ans)</p>
        </div>
      </div>
    </div>
    <div
      class="h-full md:h-64 w-72 md:w-1/2 flex flex-col md:flex-row items-center my-10 border-2 rounded-xl border-red-600 bg-yellow-100 text-gray-900 overflow-hidden shadow-[5px_5px_10px_0px_rgba(0,0,0,0.3)] shadow-red-600"
    >
      <div class="md:w-1/2 h-full">
        <img
          src="../../../assets/images/IMG_1093.JPG"
          alt=""
          class="object-cover h-full"
        />
      </div>
      <div class="p-4 w-1/2 space-y-2">
        <h2 class="text-xl p-1 underline">Vendredi</h2>
        <div class="">
          <p>17h30/19h30:</p>
          <p>Cadette/Junior compétition (13-16ans)</p>
        </div>
        <div class="">
          <p>17h30/18h30</p>
          <p>Section handi-sport</p>
        </div>
        <div class="">
          <p>17h30/20h30:</p>
          <p>Sénior compétition (+16ans)</p>
        </div>
      </div>
    </div>
  </div>
</main>
