<main>
  <h1 class="text-5xl text-red-600 p-4 text-center my-20">
    Nos équipes d'entraineurs
  </h1>
  <div class="flex flex-col justify-center items-center space-y-10 mb-10">
    <div>
      <p class="text-xl p-2">Du mardi:</p>
      <ul class="list-disc pl-10">
        <li>Laurence</li>
        <li>Emily</li>
        <li>Emma</li>
      </ul>
    </div>
    <div>
      <p class="text-xl p-2">Du mercredi:</p>
      <ul class="list-disc pl-10">
        <li>Aurelie</li>
        <li>Gwen</li>
        <li>Gwen</li>
        <li>Marjory</li>
        <li>Roxane</li>
      </ul>
    </div>
    <div>
      <p class="text-xl p2">Du vendredi:</p>
      <ul class="list-disc pl-10">
        <li>Manon</li>
        <li>Mathilde</li>
        <li>Ambre</li>
        <li>Ophélie</li>
        <li>Noélie</li>
        <li>Manu</li>
      </ul>
    </div>
  </div>
</main>
