<main>
  <h1 class="text-5xl text-red-600 p-4 text-center my-20 h-60">
    Nos équipes d'entraineurs
  </h1>
  <div class="flex flex-col justify-center items-center space-y-10 mb-10">
    <div class="w-3/4">
      <p class="text-xl p-2 font-bold">Du mardi:</p>
      <ul class="flex items-center justify-around border-2 border-yellow-300 rounded-lg flex-wrap">
        <li class="">
          <img
            src="../../../assets/images/Lolo.png"
            alt="avatar Laurence"
            class="w-96"
          />
        </li>
        <li class="text-lg font-bold">EMILY</li>
        <li class="text-lg font-bold">EMMA</li>
      </ul>
    </div>
    <div class="w-3/4">
      <p class="text-xl p-2 font-bold">Du mercredi:</p>
      <ul class="flex items-center justify-around border-2 border-yellow-300 rounded-lg flex-wrap">
        <li class="">
          <img
            src="../../../assets/images/Aurelie.png"
            alt="avatar Aurelie"
            class="w-96"
          />
        </li>
        <li class="">
          <img
            src="../../../assets/images/Mathou.png"
            alt="avatar Gwen"
            class="w-96"
          />
        </li>
        <li class="">
          <img
            src="../../../assets/images/Mamou.png"
            alt="avatar Marjory"
            class="w-96"
          />
        </li>
        <li class="">
          <img
            src="../../../assets/images/Roxane.png"
            alt="avatar Roxane"
            class="w-96"
          />
        </li>
        <li class="text-lg font-bold">GWEN</li>
      </ul>
    </div>
    <div class="w-3/4">
      <p class="text-xl p-2 font-bold">Du vendredi:</p>
      <ul class="flex items-center justify-around border-2 border-yellow-300 rounded-lg flex-wrap">
        <li>
          <img
            src="../../../assets/images/Manon.png"
            alt="avatar Manon"
            class="w-96"
          />
        </li>
        <li>
          <img
            src="../../../assets/images/Mathou 1.png"
            alt="avatar Mathilde"
            class="w-96"
          />
        </li>
        <li class="text-lg font-bold">AMBRE</li>
        <li class="text-lg font-bold">OPHELIE</li>
        <li class="text-lg font-bold">NOELIE</li>
        <li class="text-lg font-bold">MANUELA</li>
      </ul>
    </div>
  </div>
</main>
