<main class="">
  <div class="min-h-full flex items-center justify-center px-16">
    <div class="relative w-full max-w-xl">
      <div
        class="absolute top-0 -left-4 rounded-full bg-yellow-300 w-72 h-72 blur-3xl opacity-70 animate-blob "
      ></div>
      <div
        class="absolute top-0 -right-4 rounded-full bg-red-600 w-72 h-72 blur-3xl opacity-70 animate-blob animation-delay-2s"
      ></div>
      <div
        class="absolute -bottom-8 left-20 rounded-full bg-orange-500 w-72 h-72 blur-3xl opacity-70 animate-blob animation-delay-4s"
      ></div>
      <div class="h-96"></div>
    </div>
  </div>
</main>
