<main>
    <h1 class="text-5xl text-red-600 p-4 text-center my-20 underline">
        Galerie Photos
      </h1>
    <div class="flex justify-center">
        <ul class="flex flex-wrap justify-center space-x-4">
            <li class="max-w-44 rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/IMG_0905.JPG" alt="" class="h-full object-cover"></li>
            <li class="max-w-lg rounded-xl border-2 border-red-600 overflow-hidden "><img src="../../../assets/images/IMG_1093.JPG" alt="" class="h-full object-cover"></li>
            <li class="max-w-lg rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/image.jpg" alt="" class="h-full object-cover"></li>
            <li class="max-w-lg rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/image.jpg" alt="" class="h-full object-cover"></li>
            <li class="max-w-lg rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/image.jpg" alt="" class="h-full object-cover"></li>
            <li class="max-w-44 rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/IMG_0905.JPG" alt="" class="h-full object-cover"></li>
        </ul>
    </div>
</main>
