<main class="dark:bg-gray-900 flex-auto">
    <h1 class="text-5xl text-red-600 p-4 text-center md:py-20">
        Galerie Photos
      </h1>
    <div class="flex m-auto w-3/4 justify-center md:pb-20">
        <ul class=" grid grid-cols-1 lg:grid-cols-3 gap-2">
            <li class="max-w-96 h-64 rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/IMG_1093.JPG" alt="" class="h-full w-full object-cover"></li>
            <li class="max-w-96 h-64 rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/IMG_0905.JPG" alt="" class="h-full w-full object-cover"></li>
            <li class="max-w-96 h-64 rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/IMG_5762.JPG" alt="" class="h-full w-full object-cover"></li>
            <li class="max-w-96 h-64 rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/N82_7272.JPG" alt="" class="h-full w-full object-cover"></li>
            <li class="max-w-96 h-64 rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/IMG_0888.JPG" alt="" class="h-full w-full object-cover"></li>
            <li class="max-w-96 h-64 rounded-xl border-2 border-red-600 overflow-hidden"><img src="../../../assets/images/image.jpg" alt="" class="h-full w-full object-cover"></li>
        </ul>
    </div>
</main>
