<main class="dark:bg-gray-900 flex-auto">
    <h1 class="text-5xl text-red-600 p-4 text-center md:py-20">
        Galerie Photos
      </h1>
      
    <div class="flex m-auto w-3/4 justify-center md:pb-20">
        <ul class=" grid grid-cols-1 lg:grid-cols-3 gap-2">
            @for (photo of photos; track $index) {
                <li class="max-w-96 h-72 rounded-xl border-2 border-red-600 overflow-hidden"><img [src]="this.route + photo+'.JPG'" alt="" class="h-full w-full object-cover"></li>
            }
        </ul>
    </div>
    <p class="dark:text-yellow-300 py-4 text-center">&#64;Crédit photos: Stéphanie Leal</p>
</main>
