<main class="dark:bg-gray-900 flex-auto text-balance">
  <h1 class="text-5xl text-red-600 text-center md:py-20 p-4">
    Notre actualité
  </h1>
  <div
    class="flex flex-col justify-center items-center divide-y divide-red-600"
  >
    <div>
      <h2 class="text-center text-3xl text-red-600 p-4">L'actu du club:</h2>
      <div
        class="flex flex-wrap justify-center pb-6 lg:space-x-4 space-y-4 sm:space-y-0"
      >
        <p class="dark:text-yellow-300">Photos à venir !</p>
        <p class="w-80 sm:w-96 dark:text-yellow-300">Le dimanche 12 janvier a eu lieu notre mise en situation. L'occasion pour tous les athlètes du club de présenter leur nouvelle chorégraphie et de se mettre dans des conditions proche de la compétition. Le public a répondu présent et nous remercions chacun d'entre eux. En suivant nous avons pu déguster les galettes des rois et nombreux sont repartis avec la couronne. Un moment de partage toujours apprécié !</p>
      </div>
      <div
        class="flex flex-wrap justify-center pb-6 lg:space-x-4 space-y-4 sm:space-y-0"
      >
        <p class="dark:text-yellow-300">Photos à venir !</p>
        <p class="w-80 sm:w-96 dark:text-yellow-300">
          Le dimanche 22 décembre, le club a organisé son premier goûter de
          Noël. L'occasion pour les petits et les grands de se retrouver et de
          partager un moment joyeux. Au programme bonbons, gâteaux et chocolats
          ont régalé parents et enfants. L'atelier de création de décoration
          pour le sapin a eu du succès. Rendez-vous pris pour l'année prochaine.
        </p>
      </div>
      <div
        class="flex flex-wrap justify-center pb-6 lg:space-x-4 space-y-4 sm:space-y-0"
      >
        <img
          src="../../../assets/images/IMG_20240928_114004.jpg"
          alt="initiation de twirling"
          class="w-80 sm:w-96 rounded-lg border-2 border-red-600"
        />
        <img
          src="../../../assets/images/IMG_20240928_143738.jpg"
          alt="démonstration de twirling"
          class="w-80 sm:w-96 rounded-lg border-2 border-red-600"
        />
        <p class="w-80 sm:w-96 dark:text-yellow-300">
          Le samedi 28 septembre, le club a participé aux virades de l'espoir:
          Vaincre la Mucoviscidose! Cette année le thème était les JO. Nos
          bénévoles ont fait découvrir le twirling aux enfants grâce à des
          initiations mais également avec des démonstrations. Le bureau remercie
          Carole et son équipe pour leur accueil chaleureux et bienveillant.
        </p>
      </div>
      <div
        class="flex flex-wrap justify-center pb-6 lg:space-x-4 space-y-4 sm:space-y-0"
      >
        <img
          src="../../../assets/images/IMG-20240907-WA0008.jpg"
          alt="initiation de twirling"
          class="w-80 sm:w-96 rounded-lg border-2 border-red-600"
        />
        <img
          src="../../../assets/images/IMG-20240907-WA0005.jpg"
          alt="démonstration de twirling"
          class="w-80 sm:w-96 rounded-lg border-2 border-red-600"
        />
        <p class="w-80 sm:w-96 dark:text-yellow-300">
          Le samedi 7 septembre, le club a participé au forum des associations
          avec initiations et démonstrations. La dernière occasion pour nos
          athlètes de montrer leur chorégraphie de 2024. Le bureau remercie
          chaleureusement bénévoles, enfants et parents d'avoir répondu présent.
        </p>
      </div>
      <div
        class="flex flex-wrap justify-center pb-6 lg:space-x-4 space-y-4 sm:space-y-0"
      >
        <img
          src="../../../assets/images/IMG_20240904_173800.jpg"
          alt="initiation de twirling"
          class="w-80 sm:w-96 rounded-lg border-2 border-red-600"
        />
        <p class="w-80 sm:w-96 dark:text-yellow-300">
          Le mercredi 4 septembre a eu lieu la rentrée sportive pour le TCR.
          L'occasion pour se remettre en forme après un été de repos. La bonne
          humeur était au rendez-vous avec un vrai plaisir de se retrouver
          petits et grands.
        </p>
      </div>
    </div>
    <div>
      <h2 class="text-center text-3xl text-red-600 p-4">
        On parle twirling dans La Dépêche:
      </h2>
      <div>
        <h3 class="text-center text-2xl underline text-red-600 italic">
          Saison 2025
        </h3>
        <ul class="dark:text-yellow-300 list-disc">
          <li class="p-4">
            <a href="">A venir!</a>
          </li>
        </ul>
        <h3 class="text-center text-2xl underline text-red-600 italic">
          Saison 2024
        </h3>
        <ul class="dark:text-yellow-300 list-disc">
          <li class="p-4">
            <a
              class="hover:text-red-600"
              href="https://www.ladepeche.fr/2024/07/27/twirling-85-stagiaires-reunis-pendant-une-semaine-12106223.php"
              >27/07/2024: 85 stagiaires réunis pendant une semaine à Bram</a
            >
          </li>
          <li class="p-4">
            <a
              class="hover:text-red-600"
              href="https://www.ladepeche.fr/2024/06/08/le-twirling-club-rieumois-en-demi-finale-du-championnat-de-france-12002317.php"
              >08/06/2024: Le twirling Club Rieumois en demi-finale du
              championnat de France</a
            >
          </li>
          <li class="p-4">
            <a
              class="hover:text-red-600"
              href="https://www.ladepeche.fr/2024/03/12/twirling-club-de-belles-qualifications-au-championnat-midi-py-11820155.php"
              >12/03/2024: De belles qualifications au championnat
              Midi-Pyrénées</a
            >
          </li>
          <li class="p-4">
            <a
              class="hover:text-red-600"
              href="https://www.ladepeche.fr/2024/02/07/beau-debut-de-saison-pour-le-twirling-club-11748803.php"
              >07/02/2024: Beau début de saison</a
            >
          </li>
          <li class="p-4">
            <a
              class="hover:text-red-600"
              href="https://www.ladepeche.fr/2024/01/22/bientot-le-championnat-departemental-de-twirling-baton-11711433.php"
              >22/01/2024: Bientôt le championnat départemental</a
            >
          </li>
          <li class="p-4">
            <a
              class="hover:text-red-600"
              href="https://www.ladepeche.fr/2024/01/17/le-twirling-club-rieumois-demarre-une-belle-saison-sportive-11700814.php"
              >17/01/2024: Le TCR démarre une belle saison</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
