<div class="m-10 flex justify-center flex-auto">
  <table class="table-auto border-collapse dark:text-yellow-300 bg-yellow-50 dark:bg-gray-900">
    <thead>
      <tr>
        <th class="border p-4 bg-yellow-50 text-gray-900 border-gray-900">
          Mois
        </th>
        <th class="border p-4 bg-yellow-50 text-gray-900 border-gray-900">
          Jours
        </th>
        <th class="border p-4 bg-yellow-50 text-gray-900 border-gray-900">
          Compétitions 2025
        </th>
        <th class="border p-4 bg-yellow-50 text-gray-900 border-gray-900">
          Lieux
        </th>
        <th class="border p-4 bg-yellow-50 text-gray-900 border-gray-900">
          Ordre de Passage
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="border border-b-4">Janvier</th>
        <td class="border border-b-4 p-4">18 et 19</td>
        <td class="border border-b-4 p-4">Challenge André Alibert</td>
        <td class="border border-b-4 p-4">Villefranche de Lauragais</td>
        <td class="border border-b-4 p-4"><a href=""></a></td>
      </tr>
      <tr>
        <th class="border border-b-4" rowspan="2">Février</th>
        <td class="border p-4">8 et 9</td>
        <td class="border p-4">
          Championnat départemental 09, 12, 65 toutes filières et 31 filière N1
        </td>
        <td class="border p-4">St Jory</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border border-b-4 p-4">15 et 16</td>
        <td class="border border-b-4 p-4">
          Championnat départemental 31 filières N2 et N3
        </td>
        <td class="border border-b-4 p-4">Villefranche de Lauragais</td>
        <td class="border border-b-4 p-4"><a href=""></a></td>
      </tr>
      <tr>
        <th class="border border-b-4" rowspan="2">Mars</th>
        <td class="border p-4">8 et 9</td>
        <td class="border p-4">Séléctif N1/N2</td>
        <td class="border p-4">Blagnac</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border border-b-4 p-4">15 et 16</td>
        <td class="border border-b-4 p-4">Séléctif N2/N3</td>
        <td class="border border-b-4 p-4">Rieumes</td>
        <td class="border border-b-4 p-4"><a href=""></a></td>
      </tr>
      <tr>
        <th class="border border-b-4" rowspan="4">Avril</th>
        <td class="border p-4">5 et 6</td>
        <td class="border p-4">Régional N2</td>
        <td class="border p-4">Cransac</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border p-4">12 et 13</td>
        <td class="border p-4">Régional N1</td>
        <td class="border p-4">Nouvelle-Aquitaine</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border p-4">19 et 20</td>
        <td class="border p-4">Régional N3</td>
        <td class="border p-4">Auterive</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border border-b-4 p-4">26 et 27</td>
        <td class="border border-b-4 p-4">Challenge CD31</td>
        <td class="border border-b-4 p-4">Blagnac</td>
        <td class="border border-b-4 p-4"><a href=""></a></td>
      </tr>
      <tr>
        <th class="border border-b-4" rowspan="3">Mai</th>
        <td class="border p-4">3 et 4</td>
        <td class="border p-4">Demi-finale N2</td>
        <td class="border p-4">Castelnaudary</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border p-4">10 et 11</td>
        <td class="border p-4">Demi-finale N1</td>
        <td class="border p-4">?</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border border-b-4 p-4">17 et 18</td>
        <td class="border border-b-4 p-4">Demi-finale N3</td>
        <td class="border border-b-4 p-4">?</td>
        <td class="border border-b-4 p-4"><a href=""></a></td>
      </tr>
      <tr>
        <th class="border border-b-4" rowspan="4">Juin</th>
        <td class="border p-4">31 mai/1er juin</td>
        <td class="border p-4">Finale N2</td>
        <td class="border p-4">?</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border p-4">14 et 15</td>
        <td class="border p-4">Finale N1</td>
        <td class="border p-4">?</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border p-4">21 et 22</td>
        <td class="border p-4">Finale N3</td>
        <td class="border p-4">?</td>
        <td class="border p-4"><a href=""></a></td>
      </tr>
      <tr>
        <td class="border border-b-4 p-4">29</td>
        <td class="border border-b-4 p-4">Fête du club</td>
        <td class="border border-b-4 p-4">Rieumes</td>
        <td class="border border-b-4 p-4"><a href=""></a></td>
      </tr>
    </tbody>
  </table>
</div>
