/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "lemon";
    src: url("/assets/fonts/lemon/Lemon-Regular.ttf");
  }
  @font-face {
    font-family: "hind";
    src: url("/assets/fonts/Hind_Madurai/HindMadurai-Regular.ttf");
  }
  @font-face {
    font-family: "futura";
    src: url("/assets/fonts/futura/FuturaPTCondMedium.otf");
  }

}

@layer utilities {
  .animation-delay-1s {
    animation-delay: 500ms;
  }
  .animation-delay-2s {
    animation-delay: 2000ms;
  }
  .animation-delay-3s {
    animation-delay: 3000ms;
  }
  .animation-delay-4s {
    animation-delay: 4000ms;
  }
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

